<th:block th:fragment="footer">
    <footer class="footer text-sm">
        <div class="footer-container feed-width">
            <div class="flex gap-half flex-wrap align-center justify-content-center">
                <a href="/terms" target="_blank">이용약관</a>
                <div class="text-partition"></div>
                <a href="/policy" target="_blank">개인정보 처리방침</a>
            </div>
            <div class="flex gap-half flex-wrap align-center justify-content-center">
                <span>Copyright ⓒ gymfriend.com. All Rights Reserved.</span>
                <div class="text-partition"></div>
                <a href="mailto:ldg6153@gmail.com" style="color: #94a3b8">문의 : ldg6153@gmail.com</a>
            </div>
<!--            <div class="flex gap-half flex-wrap align-center justify-content-center">
                <span>(주) 핏티브</span>
                <div class="text-partition"></div>
                <span>대표이사: 이동기</span>
                <div class="text-partition"></div>
                <span>사업자 등록번호: 1992-1002</span>
                <div class="text-partition"></div>
                <span>서울시 영등포구 가마산로로 503 보디빌딩 10층</span>
                <div class="text-partition"></div>
                <span>통신 판매업: 2020-서울강남-02648</span>
                <div class="text-partition"></div>
                <span>직업 정보: J12000004</span>
            </div>
            <div class="flex gap-half word-break-auto text-center">
                짐프렌드 서비스에서 제공하는 상품 정보에 대하여 (주)핏티브는 통신판매중개자이며 통신판매의 당사자가 아닙니다.
                따라서 (주)핏티브는 상품, 거래 정보 및 가격에 대하여 어떠한 의무와 책임도 부담하지 않습니다. 소비자분쟁해결기준
            </div>-->
        </div>
    </footer>
</th:block>
