<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="my-feed-container">
    <div class="feed-pop feed-width"></div>
    <th:block th:replace="~{fragment/header::header}"></th:block>
    <div class="my-feed-block feed-width">
        <h2 th:if="${siteUser.id.equals(feedUser.id)}" th:text="|내 피드|"></h2>
        <h2 th:unless="${siteUser.id.equals(feedUser.id)}" th:text="|${feedUser.userName}님의 피드|"></h2>
        <div class="padding-default">
            <div class="my-feed-wrapper flex flex-wrap justify-content-center">
                <div class="pseudo-container" th:each="question,loop : ${feedPaging}" >
                    <!--비로그인 유저-->
                    <div sec:authorize="isAnonymous()" th:if="${question.getIsHide()==false}" class="my-feed flex-column" th:id="${question.id}">
                        <!--썸네일 부분 -->
                        <div th:if="${question.fileList.size>0&&question.fileList.get(0).getFileType()=='image'}" class="my-feed-media-wrapper">
                            <img th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|"  th:alt="${question.fileList.get(0).originalName}"/>
                        </div>
                        <div th:if="${question.fileList.size>0&&question.fileList.get(0).getFileType()=='video'}" class="my-feed-media-wrapper">
                            <video th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|"  th:alt="${question.fileList.get(0).originalName}"></video>
                        </div>
                        <!-- 미디어가 없다면 텍스트만 -->
                        <div class="my-feed-content-wrapper" th:text="${question.content}"></div>
                    </div>
                    <!--로그인하고 나의 피드--->
                    <div sec:authorize="isAuthenticated()" th:if="${siteUser.id.equals(feedUser.id)}" class="my-feed flex-column" th:id="${question.id}">
                        <!--썸네일 부분 -->
                        <div th:if="${question.fileList.size>0&&question.fileList.get(0).getFileType()=='image'}" class="my-feed-media-wrapper">
                            <img th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|" th:alt="${question.fileList.get(0).originalName}"/>
                        </div>
                        <div th:if="${question.fileList.size>0&&question.fileList.get(0).getFileType()=='video'}" class="my-feed-media-wrapper">
                            <video >
                                <source th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|" type="video/mpeg">
                                <source th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|" type="video/ogg">
                                <source th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|" type="video/webm">
                                [[${question.fileList.get(0).originalName}]]
                            </video>
                        </div>
                        <!-- 미디어가 없다면 텍스트만 -->
                        <div class="my-feed-content-wrapper" th:text="${question.content}"></div>
                    </div>
                    <!--로그인하고 다른 유저의 피드-->
                    <div sec:authorize="isAuthenticated()" th:if="${!siteUser.id.equals(feedUser.id) and question.isHide==false}" class="my-feed flex-column" th:id="${question.id}">
                        <!--썸네일 부분 -->
                        <div th:if="${question.fileList.size>0&&question.fileList.get(0).getFileType()=='image'}" class="my-feed-media-wrapper">
                            <img th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|"  th:alt="${question.fileList.get(0).originalName}"/>
                        </div>
                        <div th:if="${question.fileList.size>0&&question.fileList.get(0).getFileType()=='video'}" class="my-feed-media-wrapper">
                            <video th:src="|/resource/${#temporals.format(question.fileList.get(0).createDate,'yyMMdd')}/${question.fileList.get(0).saveName}|"  th:alt="${question.fileList.get(0).originalName}"></video>
                        </div>
                        <!-- 미디어가 없다면 텍스트만 -->
                        <div class="my-feed-content-wrapper" th:text="${question.content}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{fragment/footer::footer}"></th:block>
    <script th:inline="javascript">
        let feedUser = [[${feedUser}]];
        let principalEmail = [[${#authentication.getName()}]];
        let siteUser = [[${siteUser}]];
        let page = [[${feedPaging}]];
        console.log('feedpage first:',page);
        console.log('principalEmail :',principalEmail);
        let followingList;
        if([[${followingList}]]){
            followingList = [[${followingList}]];
        }
    </script>
    <script layout:fragment="feed_js" th:src="@{/js/userFeed.js}" type="module"></script>
</div>
</html>
