<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="my-profile-container">
    <th:block th:replace="~{fragment/header::header}"></th:block>
    <div class="my-profile-block feed-width padding-default">
        <h1 sec:authorize="isAuthenticated()" th:if="${#authentication.getName()==profileUser.email}" th:text="|내 프로필|"></h1>
        <h1 sec:authorize="isAuthenticated()" th:unless="${#authentication.getName()==profileUser.email}" th:text="|${profileUser.userName} 님의 프로필|"></h1>
        <h1 sec:authorize="isAnonymous()" th:text="|${profileUser.userName} 님의 프로필|"></h1>
        <section>
            <div class="section-header flex width100 gap-half">
                <div class="flex-column align-center gap-rem width100">
                    <div class="my-profile-image">
                        <img th:if="${profileUser.hasProfile}" th:src="|/resource/userProfiles/${profileUser.id}.png|" alt="유저 프로필 이미지"/>
                        <img th:unless="${profileUser.hasProfile}" th:src="|/resource/apps/defaultProfile.png|" alt="기본 프로필 이미지"/>
                    </div>
                    <div class="flex-column width-sm">닉네임
                        <div th:text="${profileUser.userName}"></div>
                    </div>
                    <div class="flex-column width-sm"> 이메일
                        <div th:text="${profileUser.email}"></div>
                    </div>
                    <div class="flex-column width-sm"> 관심분야
                        <div th:if="${profileUser.category!=null}" th:text="${profileUser.category}"></div>
                        <div th:unless="${profileUser.category!=null}" th:text="|미선택|"></div>
                    </div>
                </div>
                <button sec:authorize="isAuthenticated()"
                        th:if="${#authentication.getName()==profileUser.email}"
                        class="profile-edit-button" onclick="location.href='/user/profile/edit'">정보 수정하기</button>
            </div>
            <article>
                <h2>내 소개</h2>
                <pre th:if="${profileUser.introduce!=null}" th:text="${profileUser.introduce}"></pre>
                <pre th:unless="${profileUser.introduce!=null}" th:text="|나에 대해 소개해 보세요|"></pre>
            </article>
        </section>
    </div>
    <th:block th:replace="~{fragment/footer::footer}"></th:block>
    <script layout:fragment="profile_js" th:src="@{/js/profile.js}" type="module"></script>
</div>
</html>
