<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="my-profile-container">
    <th:block th:replace="~{fragment/header::header}"></th:block>
    <div class="my-profile-block feed-width padding-default">
        <h1>내 프로필</h1>
        <section>
            <form enctype="multipart/form-data" th:action="@{/user/profile/edit}" method="post" id="my-profile-form">
            <div class="section-header flex width100 gap-half">
                <div class="flex-column align-center gap-rem width100">
                    <div class="my-profile-image edit-image-border width-sm">
                        <img th:if="${siteUser.hasProfile}" th:src="|/resource/userProfiles/${siteUser.id}.png|" th:id="profile-image" alt="유저 프로필 이미지"/>
                        <img th:unless="${siteUser.hasProfile}" th:src="|/resource/apps/defaultProfile.png|"  th:id="profile-image" alt="기본 프로필 이미지"/>

                        <label for="file">
                            <div class="my-profile-filebox border-full">
                                <div class="plus-shape">
                                    <b>+</b>
                                </div>
                            </div>
                        </label>
                        <input type="file" name="file" id="file" class="file-input" accept="image/*" />

                    </div>
                    <div class="flex-column width-sm">
                        <div class="flex align-center gap-half">
                            <div>닉네임</div>
                            <div class="flex align-center">
                                <div class="text-limit-current text-xs"></div>
                                <div class="text-limit-max text-xs"></div>
                            </div>
                        </div>
                        <div class="flex-column gap-half">
                            <input minlength="2" maxlength="8" class="padding-half nickname-input" pattern="^[a-zA-Zㄱ-ㅎ가-힣0-9]+$" type="text" th:value="${siteUser.userName}" name="userName" placeholder="크리스범스테드" required/>
                            <div class="text-xs text-warning"></div>
                        </div>
                    </div>
                    <div class="flex-column width-sm"> 이메일
                        <div class="" th:text="${siteUser.email}"></div>
                    </div>
                    <div class="flex-column width-sm"> 관심분야
                        <label>
                            <select name="category" class="select-box padding-half">
                                <option value="보디빌딩">보디빌딩</option>
                                <option value="크로스핏" >크로스핏</option>
                                <option value="파워리프팅">파워리프팅</option>
                                <option value="맨몸운동">맨몸운동</option>
                                <option value="역도">역도</option>
                            </select>
                        </label>
                    </div>
                </div>
                <button type="submit" onclick="return confirm('저장하실?')" class="profile-edit-button padding-default submit-button">저장</button>
            </div>
            <article>
                <div class="flex align-center gap-half">
                    <h2>내 소개</h2>
                    <div class="flex align-center">
                        <div class="text-limit-current text-xs"></div>
                        <div class="text-limit-max text-xs"></div>
                    </div>
                </div>
                <div>
                    <textarea maxlength="300" class="my-profile-introduce-input padding-half" name="introduce" th:text="${siteUser.introduce}"></textarea>
                </div>
            </article>
            </form>
        </section>
    </div>
    <th:block th:replace="~{fragment/footer::footer}"></th:block>
    <script th:inline="javascript">
        if([[${siteUser}]]){
            siteUser = [[${siteUser}]];
            console.log('logined siteUser:',siteUser);
        }
    </script>
    <script layout:fragment="profile_js" th:src="@{/js/profileForm.js}" type="module"></script>
</div>
</html>
