@charset "utf-8";
/* 데스크탑에서 사용될 스타일을 먼저 작성합니다. */
:root{
    --background-silver100:#f8fafc;
    --border-silver100:#cbd5e1;
    --border-silver200:#e6e6e6;
    --text-subtitle:#334155;
    --text-silver100:#94a3b8;
    --text-timestamps:#64748b;
    --text-partition:#cbd5e1;
}
*{
    box-sizing: border-box;
}
img, svg {
    vertical-align: middle;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.gap-half{
    gap: 0.5rem;
}
.font-bold {
    font-weight: 700;
}
.text-sm {
    font-size: .875rem;
}
.text-xs {
    font-size: .75rem;
}
.padding-default{
    padding: 1rem;
}
.padding-half{
    padding: 0.5rem 1rem;
}
@font-face {
    /*font-family: 'GmarketSansMedium';*/
    /*src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');*/
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background: var(--background-silver100);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: -0.4px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*헤더*/
.navbar{
    border-bottom: 1px solid var(--border-silver100);
    position: sticky;
    /*position: fixed;*/
    top: 0;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: max-content;
    flex-wrap: wrap;
    background: white;
}
.navbar-container{
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    min-width: 1024px;
    max-width: 1280px;
    height: 100%;
    align-items: center;
}
.navbar-right{
    display: flex;
}
textarea {

}

input[type=submit] {
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    border-radius: 5px;
    color: white;
    font-family: inherit;
}
.footer {
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-silver100);
}
.footer-container{
    padding: 2.25rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    color: var(--text-silver100);
}

.word-break-auto{
    word-break: auto-phrase;
}
.text-partition{
        background-color: var(--text-partition);
        width: 1px;
        height: 0.75rem;
}
/* 입력 필수 항목 */
*:required {
}
/* 텍스트 입력창에 포커스가 왔을때 */
.text-container:focus{
}
.text-container{
}

/* 인덱스 화면 */
.index-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feed-width{
    width: 632px;
    max-width: 640px;
}
/* 피드 작성*/
.question-content{
    background: white;
}

/* 작성된 피드 */
.feed-container {
    display: flex;
    gap: 2.25rem;
    flex-direction: column;
}
.feed{
    background: white;
    /*padding:1rem;*/
    /*margin: 1rem 0;*/
    border: solid 1px var(--border-silver100);
}
/* 피드의 상단 */
.feed-header {
    display: flex;
    justify-content: space-between;
}
    .feed-header a {
        display: flex;
        gap: 0.5rem;
    }
    .feed-profile-image{

    }

    .feed-writer{

    }
    .feed-tag{
        color: var(--text-subtitle);
    }
    .feed-timestamps{
        color: var(--text-timestamps);
    }
.feed-body{
    display: block;
    white-space: pre-wrap;
    font-size: 1rem;
    overflow-wrap: break-word;
    word-break: auto-phrase;
}
.feed-footer{
    color: var(--text-timestamps);
    display: flex;
}
/* 피드의 댓글 부분 */
.answer-list {
    display: flex;
    flex-direction: column;
}

.answer-content{
    color: var(--text-subtitle);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: auto-phrase;
    padding: 0.5rem 0;
}
.answer{
    display: flex;
    gap: 0.5rem;
    /*justify-content: space-between;*/
    border-bottom: 1px var(--border-silver200) dashed;
}
.answer-count{

}
.answer-profile-image{
    width: 3rem;
}
.answer-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.answer-input{
    width: 100%;
    resize: none;
}
.answer-form{
    border-top: 1px solid var(--border-silver100);
}
.answer:first-child{
    border-top: 1px var(--border-silver200) solid;
}
.answer:last-child{
    border-bottom: none;
}
/*------회원 가입,로그인 공통------*/
.signup-container,.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.signup-block,.login-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    flex-grow: 1;
    border-right: 1px solid var(--border-silver100);
    border-left: 1px solid var(--border-silver100);
}
.input-block-sm{
    display: block;
    padding: 0.75rem;
    width: 100%;
    background: var(--background-silver100);
    border: 1px solid var(--border-silver100);
}
/*-------회원가입 폼-------*/
.signup-form,.login-form{
    max-width: 24rem;
    width: 100%;
}
.alert-danger{
    color: red;
}

/* 게시글 페이지 */
/*.content-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


/*!* 내용 작성 부분 *!*/
/*.content-container h1 {*/
/*    border-bottom: 1px solid silver;*/
/*}*/

/*.context-container{*/
/*    width: 720px;*/
/*    border: 1px solid silver;*/
/*    border-radius: 8px;*/
/*}*/


@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    body {
        background: var(--background-silver100);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #0f172a;
        text-align: left;
    }
    .navbar-container{
        padding: 0 0.5rem;
        min-width: unset;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .feed-width{
        width: 100%;
        max-width: 640px;
    }
    .footer-container{
        max-width: 48rem;
    }

    .signup-form, .login-form {
        max-width: none;
        width: 100%;
        padding: 0 1.25rem;
    }
}
