<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="login-container">
    <th:block th:replace="~{fragment/header::header}"></th:block>
    <div class="login-block feed-width">
    <h1>로그인</h1>

    <form th:action="@{/user/login}" method="post" class="login-form flex-column gap-rem">
        <!--
        시큐리티의 로그인이 실패할 경우에는 로그인 페이지로 다시 리다이렉트 된다.
        이 때 페이지 파라미터로 error가 함께 전달된다. 따라서 로그인 페이지의 파라미터로 error가 전달될 경우
         "사용자ID 또는 비밀번호를 확인해 주세요." 라는 오류메시지를 출력하도록 했다.
        로그인 실패시 파라미터로 error가 전달되는 것은 스프링 시큐리티의 규칙이다.
        -->
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                이메일 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="login-email">
            <label for="email" class="form-label">이메일</label>
            <input type="email" name="email" id="email" class="input-block-sm" placeholder="이메일 입력">
        </div>
        <div class="login-password">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="input-block-sm" placeholder="비밀번호 입력">
        </div>

        <input type="submit" class="button padding-default" value="로그인 →"></input>
    </form>
        <div>아직 회원이 아니신가요? <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a></div>
        <div class="width100 divide-horizon"></div>
        <div class="flex-column oauth-container gap-rem">
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
                <img class="signup-image" src="/resource/apps/google/light/web_light_sq_SI.svg" alt="구글 로그인" />
            </a>
            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">
                <img class="signup-image" src="/resource/apps/naver/btnG_완성형.png" alt="네이버 로그인"/>
            </a>
        </div>
<!--        <a href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>-->
    </div>
    <th:block th:replace="~{fragment/footer::footer}"></th:block>
</div>
</html>
