<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="signup-container">
    <th:block th:replace="~{fragment/header::header}"></th:block>
    <div class="signup-block feed-width">
        <h1>요즘 운동 커뮤니티</h1>
        <h4>지금 짐프렌드에 가입하세요</h4>

        <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" class="signup-form flex-column gap-half">
            <!--    <div th:replace="~{fragment/form_errors :: formErrorsFragment}"></div>-->
            <div class="signup-name">
                <label for="username" class="form-label">닉네임</label>
                <div th:if="${#fields.hasErrors('username')}" role="alert">
<!--                        <input type="text" th:field="*{username}" th:placeholder="${#fields.errors('username').get(0)}" class="input-block-sm"/>-->
                    <input type="text" th:field="*{username}" id="username" th:errorclass="error" th:errors="*{username}" class="input-block-sm" />
                </div>

                <div th:unless="${#fields.hasErrors('username')}" role="alert">
                    <input type="text" th:field="*{username}" id="username" class="input-block-sm" placeholder="홍길동"/>
                </div>
            </div>

            <div class="signup-email">
                <label for="email" class="form-label">이메일</label>
                <div th:if="${#fields.hasErrors('email')}" role="alert">
<!--                    <input type="email" th:field="*{email}" id="email" th:placeholder="${#fields.errors('email').get(0)}" class="input-block-sm"/>-->
                    <input type="email" th:field="*{email}" id="email" th:errorclass="error" th:errors="*{email}" class="input-block-sm" />
                </div>
                <div th:unless="${#fields.hasErrors('email')}" role="alert">
                    <input type="email" th:field="*{email}" id="email" class="input-block-sm" placeholder="example@fitive.com"/>
                </div>
            </div>

            <div class="signup-password">
                <label for="password" class="form-label">비밀번호</label>
                <div th:if="${#fields.hasErrors('password')}" role="alert">
<!--                    <input type="password" th:field="*{password}" id="password" th:placeholder="${#fields.errors('password').get(0)}" class="input-block-sm"/>-->
                    <input type="password" th:field="*{password}" id="password" th:errorclass="error" th:errors="*{password}" class="input-block-sm" />

                </div>
                <div th:unless="${#fields.hasErrors('password')}" role="alert">
                    <input type="password" th:field="*{password}" id="password" class="input-block-sm" placeholder="영문,숫자 포함 6자 이상"/>
                </div>
            </div>

            <div class="signup-password2">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <div th:if="${#fields.hasErrors('password2')}" role="alert">
<!--                    <input type="password" th:field="*{password2}" id="password2" th:placeholder="${#fields.errors('password2').get(0)}" class="input-block-sm"/>-->
                    <input type="password" th:field="*{password2}" id="password2" th:errorclass="error" th:errors="*{password2}" class="input-block-sm" />

                </div>
                <div th:unless="${#fields.hasErrors('password2')}" role="alert">
                    <input type="password" th:field="*{password2}" id="password2" class="input-block-sm"/>
                </div>
            </div>

            <button type="submit" class="button">회원가입</button>
        </form>
    </div>
    <th:block th:replace="~{fragment/footer::footer}"></th:block>
</div>
</html>
